@font-face {
    font-family: 'Avineo Personal Use Only';
    src: url('/src/styles/fonts/Avineo-PersonalUseOnly.woff2') format('woff2'),
        url('/src/styles/fonts/Avineo-PersonalUseOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minya DEMO';
    src: url('/src/styles/fonts/MinyaDEMO.woff2') format('woff2'),
        url('/src/styles/fonts/MinyaDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minya Outline DEMO';
    src: url('/src/styles/fonts/MinyaOutlineDEMO.woff2') format('woff2'),
        url('/src/styles/fonts/MinyaOutlineDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rie';
    src: url('/src/styles/fonts/Rie-Regular.woff2') format('woff2'),
        url('/src/styles/fonts/Rie-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root{
   --primary: #212121;
   --secondary: #145244;
}


.headerContainer {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem
  }
  
  .headerTitle {
    --border-radius: 25px;
    --border-width: 7px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    background: transparent;
    z-index: 2;
  }
  
  .headerTitle::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    max-width: 20%;
    max-height: 20%;
    padding: var(--border-width);
    background-image: conic-gradient(
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080
      );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue634 linear 500ms infinite;
    animation-play-state: paused;
    border-color: #000;
  }
  
  button:hover::after {
    animation-play-state: running;
    cursor: default;
  }
  
  @keyframes rotate-hue634 {
    to {
      filter: hue-rotate(1turn);
    }
  }
  
  button,
  button::after {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 25px;
    cursor: default;
    color: transparent;
  }
  
  button:active {
    --border-width: 2px;
  }
  

  button {
    padding: 0.2em 1.0em;
    border: none;
    outline: none;
    color: transparent;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    cursor: default;
    position: relative;
    z-index: 0;
    border-radius: 32px;
    background-color: transparent;
  }
  
  button::before {
    content: "";
    background: linear-gradient(
      80deg,
      #053e28, #620524, #100448, #035916,
        #590707, #0b0432, #08371a, #100737
  );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing345 20s linear infinite;
    transition: opacity .3s ease-in-out;
    background-color: transparent;
    border-radius: 20px;
    background-color: transparent;
    opacity: 0;
  }
  
  @keyframes glowing345 {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .headerTitle:hover::before {
    opacity: 1;
  }
  
  .headerTitle:active:after {
    background: transparent;
  }
  
  .headerTitle:active {
    color: #000;
    font-weight: bold;
  }


  .headerTitle {
    color: #fff;
    font-family: 'Minya Outline DEMO';
    font-size: 4rem;
    margin-bottom: 100px;
  }
  
  .headerTitleOne{
    color: #f1f1f1;
  }

  .headerTitleTwo  {
    color: #f1f1f1;
  }


  .headerImage {
    width: 40%;
  }
  
  @media(max-width: 765px) {
    .headerImage {
      width: 100%;
    }
  }
  
  .headerImageOne{
    max-width: 25%;
    border-radius: 100%;
    filter: contrast(200%);
    filter: opacity(30%);
  }