@font-face {
  font-family: 'Avineo Personal Use Only';
  src: url('Avineo-PersonalUseOnly.woff2') format('woff2'),
      url('Avineo-PersonalUseOnly.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minya DEMO';
  src: url('MinyaDEMO.woff2') format('woff2'),
      url('MinyaDEMO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minya Outline DEMO';
  src: url('MinyaOutlineDEMO.woff2') format('woff2'),
      url('MinyaOutlineDEMO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rie';
  src: url('Rie-Regular.woff2') format('woff2'),
      url('Rie-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Minya DEMO', sans-serif;
}


.App {
  background-color: #1c0808;
  background-image: -webkit-linear-gradient(0deg, #1c0808 0%, #000000 100%);
  background-image: -moz-linear-gradient(0deg, #1c0808 0%, #000000 100%);
  background-image: -o-linear-gradient(0deg, #1c0808 0%, #000000 100%);
  background-image: linear-gradient(0deg, #1c0808 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem
}